html{
    height: 100%;
}
body {
    background-color: #0B101F;
}
::-moz-selection {
    background-color: #CEEA8D;
}

::selection {
    background-color: #CEEA8D;
}
#logo1{
    width: 25px;
    height: 25px;
    padding-top:10px;
}
.navbar{
    background-color:rgba(21,27,48,0.3);
    backdrop-filter: blur(6px);
    padding-right:15px;
    padding-left: 15px;
    padding-bottom: 8px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.navbar a:hover{
    background-color: #ddd;
    color: black;
}
.navdiv{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 23px;
    font-weight: bold;
    color: white;
}
.navbar li{
    display: inline-block;
}
.navbar li a{
    color:white;
    padding: 20px;
    font-weight: bold;
}
h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 50px;
    text-align: center;
    font-weight: bold;
}
h2{
    color:yellow;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(Images/bitcoin-orange-logo-icon-circle-600nw-2018796659.png);
    background-size: 30px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding-top: 100px;
}
main.table{
    width: 82vw;
    height: 65vh;
    margin-top: -175px;
}
.backpic{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
td img{
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;
    vertical-align: middle;
}
table, th, td{
    padding: 1rem;
    border-collapse: collapse;
    text-align: left;
}
.table_body{
    width: 95%;
    height: calc(89%-1.6rem);
    background-color: #fffb;
    margin-right: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}
.table_body ::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
.table_body ::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}
.table_body:hover ::-webkit-scrollbar-thumb{
    visibility: visible;
}
table{
    width: 100%;
}
thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
}
tbody tr:nth-child(even) {
    background-color: #0000000b;
}
tbody tr:hover{
    background-color: #fff6;
}
.logos{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 50px 0;
    white-space: nowrap;
    position: relative;
}
.logos-slide img{
    height: 200px;
    margin: 0 20px;
    border-radius: 20px;
}
.logos-slide{
    display: inline-block;
    animation: 30s slide infinite linear;
}
@keyframes slide {
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.logos:hover .logos-slide{
    animation-play-state: paused;
}
h3{
    color: wheat;
    text-align: center;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.title_content{
    background-color: #100B1F;
}

h5{
    color: wheat;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.crypto p{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 15px;
}
.crypto span{
    font-size: 50px;
}
footer{
    background-color: black;
    margin-top: 175px;
}
footer h6{
    color:white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 25px;
    padding-top: 25px;
}
footer p{
    text-align: center;
    color: white;
    margin-top: 0;
}
.links{
    text-align: center;
    margin-top: 100px;
}
.links a{
    padding: 25px;
}
.links p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    padding: 51px;
    margin-top: -48px;
}
#copyright p{
    color: grey;
    font-size: 15px;
    text-align: center;
    padding-bottom: 25px;
    font-family: 'Courier New', Courier, monospace;
}
@media (max-width:680px){
    .links p{
        display: none;
    }
}
@media (max-width:970px){
    h2{
        font-size: 50px;
    }
}
@media (max-width:910px){
    h1{
        padding-top: 250px;
    }
}
@media (max-width:910px){
    .navbar{
        margin: -30px;
    }
    .links1 a{
        display: inline-block;

    }
}
