html{
    height: 100%;
}
body{
    background-color: #0B101F;
    min-height: 100%;
    flex-direction: column;
}
::-moz-selection {
    background-color: #CEEA8D;
}

::selection {
    background-color: #CEEA8D;
}
#logo1{
    width: 25px;
    height: 25px;
    padding-top:10px;
}
.navbar{
    background-color:rgba(21,27,48,0.3);
    backdrop-filter: blur(6px);
    padding-right:15px;
    padding-left: 15px;
    padding-bottom: 8px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.navbar a:hover{
    background-color: #ddd;
    color: black;
}
.navdiv{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 23px;
    font-weight: bold;
    color: white;
}
.navbar li{
    display: inline-block;
}
.navbar li a{
    color:white;
    padding: 20px;
    font-weight: bold;
}
#banner{
    padding-top: 1px;
    overflow: hidden;
}
h1{
    padding-top: 150px;
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;

}
span{
    font-family: 'Courier New', Courier, monospace;
}
#link1{
    text-decoration: none;
}
.content{
    color: white;
}
h2{
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.content p{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3{
    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 75px;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
h3{
    text-align: center;
}
h4{
    font-weight: bold;
    color: white;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    padding-left: 40px;
}
h4 span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: yellow;
}
iframe{
    float: right;
    padding-top: 60px;
    -moz-border-radius:15px;
    border-radius: 15px;
}
.video_hold{
    padding-top: 200px;
    padding-right: 50px;
}
.video_hold p{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    padding-left: 50px;
}
.fullpageTabs{
    height: 100%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 300px;
}
.tablink{
    background-color:#0B101F;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.tablink hr{
    border: 2px solid  #4C28A8;
}
.tablink:hover{
    color: black;
    background-color: grey;
}
.tabcontent{
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}
#Lookouts {background-color: #0B101F;}
#Mints {background-color: #0B101F;}
#Listing {background-color: #0B101F;}
#Howto {background-color: #0B101F;}

.tabcontent h4{
    font-size: 25px;
}
.tabcontent a{
    text-decoration: none;
    font-weight: bold;
}
.tabcontent li::marker{
    color: #4C28A8;
}
footer{
    background-color: black;
    padding-top: 25px;
}
footer h5{
    color:white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 25px;

}
footer p{
    text-align: center;
    color: white;
    margin-top: 0;
}
.links{
    text-align: center;
    margin-top: 100px;
}
.links a{
    padding: 25px;
}
.links p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    padding: 51px;
    margin-top: -48px;
}
#copyright p{
    color: grey;
    font-size: 15px;
    text-align: center;
    padding-bottom: 25px;
    font-family: 'Courier New', Courier, monospace;
}
@media (max-width:680px){
    .links p{
        display: none;
    }
}
@media (max-width:910px){
    .links1 ul li{
        padding:15px;
        padding-left: 300px;
    }
    h1{
        padding-top: 250px;
    }
}
